body{
    background: #f7f7f7 ;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
    margin-top: 60px;

}
ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    text-transform: uppercase;
    margin-top: 60px;
}



p {
  font-size: 1.25rem;
  line-height: 1.3;
}


.inicio{
    text-align: center;
    margin-top: 2rem;
}
.menu{
   
   display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center

}

.menu a{
    text-decoration: none;
    background: #ffffff;
    padding: 1rem 2rem;
    border-radius: 4px;
    color: #000000;
    border: 1px solid transparent;
    
}

.menu a:hover{
    border: 1px solid red;
}

.bike{
    max-width: 100%;
    display: block;
}

.gridGeral{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 60px;

}

.conteudoItemInicial{
    display: grid;
    text-align: right;
    /* padding: 2em; */
    padding-right: 2em;
    background:  #ffffff;
    place-items: end;
}

.conteudoItem{
    display: grid;
    place-content: center;
    
    
    background: #ffffff ;
}




.botao{
    background: red;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    place-self: end;
    padding: 1rem 2rem;
    border-radius: 4px;
    
}

.botao:hover{
    background: #e21;
}

.vantagensBike{
    font-size: 4rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  text-align: right;
  padding: 40px;
  align-self: center;
  background-image: url('./img/onda.svg');
}



.vantagens:hover  {
    border-left: 4px solid  red ;
    
} 

.vantagens{
    /* display: grid; */
    /* justify-self: center; */
}




.rodaPe{
    text-align: center;
    margin-top: 60px;
}

.vantagens h2{
    text-align: left;
    
}

.detalhe{
    /* display: inline block; */
    background: red;
    /* border-radius: 4px; */
    padding: 5px 30px;
    width: 40px;
    position: relative;
    left: 80px;
}

.TituloSecundario{
    background: url(img/onda.svg);
    display: grid;
    font-size: 2.5em;
    text-align: center;

}

.vantagens:nth-child(odd){
    background: #f7f7f7;
}


/*responsividade do site*/
@media(max-width:925px){

    .gridGeral{
        grid-template-columns: 1fr;
        gap: 20px;
        
    }

    .detalhe{
        display: none;
    }

    .vantagensBike{
        text-align: center;
    }

    .conteudoItemInicial{
        justify-items: start;
        
    }
    .botao{
    place-self: start;

    }

ul{
    margin-top: 30px;
    gap: 4rem;

}

@media(max-width: 600px){
    .vantagensBike{
        font-size: 2rem;
    }
}

    
}

@media(max-width:370px){
    .vantagensBike{
        text-align: center;
        font-size: 2rem;
    }

    body{
        background: #f7f7f7 ;
        font-family: Arial, Helvetica, sans-serif;
        margin: 20px;
        margin-top: 30px;
    
    }
}
/* 
@media(max-width:370px){
    body p ul a{
        font-size:0.20rem;
    }
} */



